# Dataset Amostral

Olá! Provavelmente você parou aqui ao iniciar a leitura sobre nossa Análise Exploratória! Lembra que temos um dataset de 3.2GB? Seria impossível trabalhar com ele em nossos meros notebooks. Por isso, iremos separar um dataset menor, para o estudo.

**Importando as Bibliotecas**

In [3]:
import pandas as pd
import numpy as np
import random

Bem, tinhamos um sério problema com o Pandas. Poderíamos muito bem pegar X linhas. Mas... Ele ia pegar em ordem... Ou seja, não íamos ter aleatoriedade em nossa Amostra. E isso é MUITO RUIM... Imagina só:

Este dataset está por ordem de inscrição. Imagine que as inscrições abriram e o Estado do Ceará FICOU SEM INTERNET POR 2 DIAS! Já viu, né? Provavelmente não teríamos candidatos do Ceará em nossa amostra. E já era nosso trabalho. 

Para contornar esta situação, então, fizemos que nem a Dory!

![](https://i.pinimg.com/originals/34/bc/c1/34bcc1ca0466693392307810df154105.gif)

E para isso, fizemos uma "gambiarrra" para pegar, de forma aleatória, `2.5%` do total de candidatos. Parece pouco? Olha os números depois...

Resolvemos criar uma função para fazer isso pois mais tarde iremos utilizar novamente e tudo ficaraá mais claro! Prometemos!

**P.S**: Note que o arquivo `MICRODADOS_ENEM_2019.csv` não está neste repositório. Ele pesa 3.2GB e é impossível upar ele no GitHub. Caso queira vê-lo, segue o link:

**ATENÇÃO! NÃO PRECISA BAIXAR!** <a href="http://download.inep.gov.br/microdados/microdados_enem_2019.zip">Link para Download do Dataset e Dados Completos</a>

In [4]:
def criaDatasetAmostral(seed,p):
    fonte = 'MICRODADOS_ENEM_2019.csv'

    np.random.seed(seed) # Setamos o padrão de Aleatoriaedade

    total_linhas = sum(1 for l in open(fonte,encoding="ISO-8859-1"))
    print(f'Total de Linhas do Dataframe Completo: {total_linhas}')

    tamanho = int(total_linhas*p)
    print(f'Total de Linhas da Amostra Gerada: {tamanho}')

    index = random.sample(range(1, total_linhas), total_linhas - tamanho)

    dados = pd.read_csv(fonte,encoding="ISO-8859-1",delimiter=";",skiprows=index)
    
    print('Dataset Amostral Gerado com Sucesso!')
        
    return dados

# Gerando o Dataset para Estudo

Olha que legal! Agora basta chamarmos esta função para gerar um dataset BEM MENOR para estudo e, futuramente... PARA TESTAR NOSSO MODELO PREDITIVO!

In [5]:
dados=criaDatasetAmostral(42511,0.025) # Parâmetros(seed aleatória, percentual da amostra)

Total de Linhas do Dataframe Completo: 5095271
Total de Linhas da Amostra Gerada: 127381
Dataset Amostral Gerado com Sucesso!

In [6]:
dados.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004648,2019,1500800,Ananindeua,15,PA,16,F,0,0,...,B,A,A,C,A,B,D,B,E,B
1,190001004656,2019,1500800,Ananindeua,15,PA,40,F,1,3,...,A,A,A,B,A,A,C,A,A,A
2,190001004691,2019,1500958,Aurora do Pará,15,PA,22,F,1,3,...,A,A,A,B,A,A,C,A,A,A
3,190001004692,2019,1500800,Ananindeua,15,PA,16,M,1,1,...,B,A,A,C,B,A,D,A,A,B
4,190001004705,2019,1504208,Marabá,15,PA,17,M,1,3,...,A,A,B,B,B,B,D,A,B,B

In [7]:
dados.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_TEMPO_ADICIONAL', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'], dtype=object)

In [ ]:
destino = "MICRODADOS_ENEM_2019_SAMPLE_ESTUDO.csv"

dados.to_csv(destino, index=False)

# Gerando o Dataset para Teste do Modelo Preditivo

In [8]:
dados_teste=criaDatasetAmostral(1234,0.005) # Parâmetros(seed aleatória, percentual da amostra)

Total de Linhas do Dataframe Completo: 5095271
Total de Linhas da Amostra Gerada: 25476
Dataset Amostral Gerado com Sucesso!

In [10]:
dados_teste.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004911,2019,1501402,Belém,15,PA,20,F,1,3,...,B,A,A,C,A,A,E,A,B,B
1,190001005272,2019,1506583,Santa Maria das Barreiras,15,PA,17,F,1,3,...,A,A,A,B,B,A,C,A,A,B
2,190001005304,2019,1501808,Breves,15,PA,19,F,1,3,...,A,A,A,B,A,A,B,A,A,A
3,190001005437,2019,1500800,Ananindeua,15,PA,21,M,1,3,...,A,A,A,B,B,A,B,A,A,A
4,190001005873,2019,1501303,Barcarena,15,PA,18,F,1,3,...,A,A,A,B,A,A,D,A,A,A

In [11]:
destino = "MICRODADOS_ENEM_2019_SAMPLE_TESTE.csv"

dados_teste.to_csv(destino, index=False)